#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

.main-layout{
  height: 100%;
}

.content-layout{
  height: 100%;
  margin: 64px 0 0 0;  /* Margem superior do tamanho do header*/
}

.sider-layout {
  z-index: 1;
}