#SignUp {
    padding: 10px;
    min-width: 350px;
    width: 500px;
    max-width: 800px;
}

.container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .form-container {
    background-color: #F8F9FA;
    border: 0.3px solid #C6CDD4;
    border-radius: 20px;
    padding: 25px;
    margin: auto;
}

.signup-button {
    width: 100%;
}